# The second task for 'sports.ru'
### Andrey Shubin

In [1]:
#at first it's necessary to import librares:
#pandas for work with dataframe and scipy for statistics functions

import pandas as pd
from scipy import stats

In [2]:
#loading dataset to pandas dataframe 'df'

df = pd.read_csv('dataset_Facebook.csv', sep = ';')

In [3]:
#starting aggregation of all dataset with describe method
#it's possible to check mean (the average value), minimum, maximum, values of 25th, 50th, and 75th percentiles
#for each column

df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [4]:
#we can check parameters with other methods, like

print(df.mean())

#df.median(), df.min(), df.max() and etc

Page total likes                                                       123194.176000
Category                                                                    1.880000
Post Month                                                                  7.038000
Post Weekday                                                                4.150000
Post Hour                                                                   7.840000
Paid                                                                        0.278557
Lifetime Post Total Reach                                               13903.360000
Lifetime Post Total Impressions                                         29585.948000
Lifetime Engaged Users                                                    920.344000
Lifetime Post Consumers                                                   798.772000
Lifetime Post Consumptions                                               1415.130000
Lifetime Post Impressions by people who have liked your Page            16766.376000
Lifetime Post reach by people who like your Page                         6585.488000
Lifetime People who have liked your Page and engaged with your post       609.986000
comment                                                                     7.482000
like                                                                      177.945892
share                                                                      27.266129
Total Interactions                                                        212.120000
dtype: float64

In [5]:
#for mode using scipy function, cause built-in pandas (pd.mode()) doesn't work correctly 
#creating new dataframe and add mode and count values 

mode = pd.DataFrame(columns = ['Column name', 'Mode value', 'Count value'])
for column in df:
    mode = mode.append({'Column name':column, 'Mode value':stats.mode(df[column])[0], 'Count value':stats.mode(df[column])[1]}, ignore_index = True)

mode

D:\Progs\Anaconda3\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

                                          Column name Mode value Count value
0                                    Page total likes   [136393]        [18]
1                                                Type    [Photo]       [426]
2                                            Category        [1]       [215]
3                                          Post Month       [10]        [60]
4                                        Post Weekday        [7]        [82]
5                                           Post Hour        [3]       [105]
6                                                Paid      [0.0]       [360]
7                           Lifetime Post Total Reach      [677]         [2]
8                     Lifetime Post Total Impressions     [4372]         [2]
9                              Lifetime Engaged Users      [537]         [4]
10                            Lifetime Post Consumers      [182]         [3]
11                         Lifetime Post Consumptions      [431]         [3]
12  Lifetime Post Impressions by people who have l...     [1210]         [2]
13   Lifetime Post reach by people who like your Page      [690]         [2]
14  Lifetime People who have liked your Page and e...      [403]         [5]
15                                            comment        [0]       [106]
16                                               like     [98.0]         [7]
17                                              share     [13.0]        [20]
18                                 Total Interactions        [0]         [6]

In [6]:
#checking list of 'Type' variables
#then find the same parameters for each object from that list

df.groupby(['Type']).groups.keys()

dict_keys(['Link', 'Photo', 'Status', 'Video'])

In [7]:
#all necessary stuff

df.groupby('Type').agg('min')
df.groupby('Type').agg('max')
df.groupby('Type').agg('mean')
df.groupby('Type').agg('median')

#in mode example pay attencion - each attribute has 2 numbers: 1 - mode value, 2 - counts value

df.groupby('Type').agg(stats.mode)

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,"([138353], [4])","([1], [20])","([12], [6])","([6], [5])","([3], [6])","([0.0], [16])","([1536], [1])","([3094], [1])","([66], [2])","([322], [2])","([26], [1])","([2307], [1])","([1180], [1])","([19], [1])","([0], [7])","([12.0], [2])","([2.0], [3])","([14], [2])"
Photo,"([124940], [17])","([1], [185])","([10], [49])","([7], [71])","([3], [89])","([0.0], [306])","([677], [2])","([4372], [2])","([537], [4])","([298], [3])","([431], [3])","([1210], [2])","([690], [2])","([403], [5])","([0], [94])","([7.0], [6])","([14.0], [17])","([0], [6])"
Status,"([139441], [4])","([2], [38])","([12], [12])","([5], [9])","([10], [10])","([0.0], [35])","([3930], [1])","([7509], [1])","([128], [1])","([86], [1])","([1692], [2])","([5009], [1])","([2410], [1])","([101], [1])","([2], [6])","([86.0], [2])","([1.0], [3])","([117], [2])"
Video,"([137893], [2])","([1], [7])","([11], [3])","([2], [2])","([11], [3])","([1.0], [4])","([13544], [1])","([30235], [1])","([459], [1])","([411], [1])","([539], [1])","([21436], [1])","([9568], [1])","([363], [1])","([2], [2])","([65.0], [1])","([13.0], [2])","([81], [1])"

In [8]:
#for searching most popular object in dataset I was using following parameters:
#total interaction as main, cause amount of comments + shares is very important, likes - too, but with less weight
#and also reach and impressions for cheching amount of views and demonstrations of posts

df.sort_values(['Total Interactions', 'Lifetime Post Total Reach', 'Lifetime Post Total Impressions'], ascending = [False, False, False]).head(1)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

#

### As u see, winner is the photo #244 in the main dataset
# Thank you for attention